@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);

}

.card {
  width: 400px;
  height: 630px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  transition: 0.2s;
}

.card img {
  width: 93%;
  margin-top: 12px;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 5px;
}

.card h2 {
  font-weight: 700;
  width: 80%;
  margin-bottom: 20px;
  color: hsl(218, 44%, 22%);
}

.card p {
  font-size: 15px;
  font-weight: 400px;
  width: 80%;
  margin-bottom: 50px;
  color: hsl(220, 15%, 55%);
}

.attribution {
  margin: 0;
  font-size: 12px;
}

.attribution a {
  font-size: 15px;
  width: 80%;
  color: hsl(220, 15%, 55%);
}

a:hover {
  color: blue;
}


@media only screen and (max-width: 600px) {
  .card {
    width: 300px;
    height: 500px;
  }
}